USE [master]
GO
/****** Object:  Database [DynamicTimetableDB]    Script Date: 6/17/2025 11:51:19 PM ******/
CREATE DATABASE [DynamicTimetableDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DynamicTimetableDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DynamicTimetableDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DynamicTimetableDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DynamicTimetableDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DynamicTimetableDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DynamicTimetableDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/17/2025 11:51:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 6/17/2025 11:51:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[TotalHours] [int] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeTableInputs]    Script Date: 6/17/2025 11:51:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeTableInputs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkingDays] [int] NOT NULL,
	[SubjectsPerDay] [int] NOT NULL,
	[TotalSubjects] [int] NOT NULL,
 CONSTRAINT [PK_TimeTableInputs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250617155045_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Name], [TotalHours]) VALUES (1, N'Maths', 6)
INSERT [dbo].[Subjects] ([Id], [Name], [TotalHours]) VALUES (2, N'Science', 5)
INSERT [dbo].[Subjects] ([Id], [Name], [TotalHours]) VALUES (3, N'English', 4)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeTableInputs] ON 

INSERT [dbo].[TimeTableInputs] ([Id], [WorkingDays], [SubjectsPerDay], [TotalSubjects]) VALUES (1, 5, 6, 8)
INSERT [dbo].[TimeTableInputs] ([Id], [WorkingDays], [SubjectsPerDay], [TotalSubjects]) VALUES (2, 6, 5, 10)
INSERT [dbo].[TimeTableInputs] ([Id], [WorkingDays], [SubjectsPerDay], [TotalSubjects]) VALUES (3, 4, 7, 6)
SET IDENTITY_INSERT [dbo].[TimeTableInputs] OFF
GO
USE [master]
GO
